* {
	margin: 0;
}
body {
	background-color: #93d97b;
	font-family: 'Poppins', sans-serif;
	font-family: 'Balsamiq Sans', sans-serif;
}
h1 {
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: 3.125rem;
	font-weight: 700;
	line-height: normal;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
		0 0 151px #0fa;
}
.open {
	margin-bottom: 2rem;
	font-size: 1.375rem;
	text-align: center;
	font-weight: 700;
	line-height: normal;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
		0 0 151px #0fa;
}
.hod {
	text-align: left;
	font-size: 1.4375rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
		0 0 151px #0fa;
}
.return {
	text-align: right;
	font-size: 1.3125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
		0 0 151px #0fa;
}
.container {
	width: 100%;
	height: 100vh;
	background-image: url('/assets/images/grass.jpg');
	background-size: contain;
	background-position: center;
	display: flex;
}
.main {
	margin: 50px auto;
}
.game {
	margin-top: 20px;
	width: 623px;
	height: 597px;
	background-color: #f8ffae;
	border-radius: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.game-cards {
	width: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.default-card {
	margin: 5px;
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #ffd27c;
	border-radius: 9px;
}
.img-card {
	display: none;
	margin: 5px;
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #ffd27c;
	border-radius: 9px;
}
.settings {
	display: flex;
	top: 15.88rem;
	justify-content: space-between;
}
.overlay {
	display: none;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.4); */
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
.congratulations {
	display: none;
	//display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	font-size: 32px;
	font-color: white;
	background-color: #E0F2E0;
	border: 4px solid green;
	padding: 30px 70px;
	border-radius: 10px;
	text-align: center;
}
.congratulations p {
	width: max-content;
}
.congratulations img {
	width: 90px;
}
.start-again_btn {
	margin-top: 20px;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	border: 4px solid green;
	padding: 8px 15px;
}
.start-again_btn:hover {
	background-color: #5fb55e;
}
@media screen and (min-width:1025px) {
	.container {
		width: 100%;
		height: 100vh;
		background-size: contain;
	}
	
}
@media screen and (min-width: 451px) and (max-width: 1024px) {
	.container {
		width: 100%;
		height: 100vh;
		background-size: contain;
	}
	
	
}
@media screen and (max-width: 450px) and (min-width: 375px) {
	.container {
		width: 100%;
		height: 100vh;
		background-size: contain;
}

}
